.campaigns-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #282c34;
    min-height: 90vh;
    color: white;
  }
  
  .campaign-item {
    background-color: #3a3f47;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .campaign-subject {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #61dafb;
  }

  .campaign-preheader {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #61dafb;
  }

  .campaign-content {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #61dafb;
  }

  
 
  